@charset 'UTF-8';
 
body{
    
    font: normal 1.3em arial;
    text-align: center;
}
header{

}
section{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.604);
    border-radius: 25px;
    margin: auto;
    height: 350px;
    width: 600px;
    background-color: chocolate;
}

div#Letra{
padding: 30px;
color: black;
font-weight: bolder;
}
div#imagem{
    
margin: auto;
}